*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  background: #333333;
}

header{
  margin: 40px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}


#header-left,
#header-right{
  height: 100%;
  display: flex;
  align-items: center;
}
#header-left #logo{
  margin-right: 40px;
}
#logo img{
  vertical-align: middle;
}
#header-left > ul,
#header-right > ul{
  display: flex;
  align-items: center;
}


#header-left > ul > li,
#header-right > ul > li{
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  height: 55px;
  line-height: 55px;
}

#header-left ul li.different a{
  font-weight: 700;
  color: #191C1F;
}

#header-right > ul > li:nth-child(5){
  margin-right: 20px;
}
#header-right > ul > li:last-child{
  margin-right: 0;
}

a{
  text-decoration: none;
  color: #607D6D;
}
a:hover{
  color: black;
}

.my-btn{
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
}
.my-btn:hover{
  background: #DADBDB;
  cursor: pointer;
}
.my-btn.V2{
  padding: 20px;
  background: black;
  color: white;
}
.my-btn.V2:hover{
  background: #3E4043;
}

#header-right ul{
  position: relative;
}

.box-container{
  display: none;
  margin-left: -10px;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 55px;
}
.box ul{
  list-style: none;
}
.box ul li{
  margin-bottom: 15px;
  line-height: 25px;
}
.box ul li:last-child{
  margin-bottom: 0;
}
